<div class="row">
	<div class="col-md-9">
		
	</div>

	<div ng-controller="signupCtrl" class="col-md-3 panel panel-login">
		<div class="panel-body">
			<form name="signupForm" class="form-outer">
				
					 <md-input-container>
				        <label>Username</label>
				        <input class="form-control" ng-model="username" required ng-minlength=6 ng-maxlength=10></input>
				      </md-input-container>

						 <md-input-container>
					        <label>Password</label>
					        <input class="form-control" type="password" ng-model="password" required ng-minlength=6 ng-maxlength=10></input>
					      </md-input-container>

				       <md-input-container>
					        <label>Email</label>
					        <input class="form-control" type="email" ng-model="email" required></input>
					    </md-input-container>

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<button class="btn btn-primary signupButton" ng-click="signup()"  ng-disabled="signupForm.$invalid">Sign Up</button>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						{{signupResult}}
					</div>	
				</div>
			</form>
		</div>
	</div>
</div>